numpy<2.0
openai==0.28
fastapi==0.115.8
google-generativeai
wandb==0.12.18
matplotlib
seaborn
scikit-learn
pandas
anthropic
transformers==4.49.0
accelerate==1.4.0
diffusers==0.32.2
ipykernel
accelerate
urllib3==1.25.11
google-api-python-client
openpyxl
python-dotenv==1.0.1
sentencepiece
python-multipart
fschat==0.2.36
faiss-gpu==1.7.2
bitsandbytes==0.46.0
peft==0.15.2